<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="../view/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="../view/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../view/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="../view/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="../view/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="../view/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="../view/global_assets/js/main/jquery.min.js"></script>
	<script src="../view/global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="../view/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="../view/assets/js/app.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>

	<!-- Theme JS files 
	<script src="../view/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="../view/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="../view/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="../view/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script src="../view/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="../view/global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="../view/assets/js/app.js"></script>
	<script src="../view/global_assets/js/demo_pages/dashboard.js"></script>-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="application/javascript">
        $(document).ready(function () {
            
            document.getElementById("datepicker").disabled = false;
            document.getElementById("datepicker2").disabled = false;
            
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="application/javascript" src="../controler/inicio.js"></script>
	
	<script>
		var $miSuperId = "MIDD";
		var $miProyecto = "PROY";
		var $miNombre = "NOMBRE";
		var socket = io.connect();
		
		window.onload = function(){
			socket.emit("ParametrosInicio",{miProyecto:$miProyecto,miNombre:$miNombre,id:$miSuperId});	
		}
		
	</script>

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="index.html" class="d-inline-block">
				<img src="../view/global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
						<i class="icon-git-compare"></i>
						<span class="d-md-none ml-2">Git updates</span>
						<span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">9</span>
					</a>

					<div class="dropdown-menu dropdown-content wmin-md-350">
						<div class="dropdown-content-header">
							<span class="font-weight-semibold">Git updates</span>
							<a href="#" class="text-default"><i class="icon-sync"></i></a>
						</div>

						<div class="dropdown-content-body dropdown-scrollable">
							<ul class="media-list">
								<li class="media">
									<div class="mr-3">
										<a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
									</div>

									<div class="media-body">
										Drop the IE <a href="#">specific hacks</a> for temporal inputs
										<div class="text-muted font-size-sm">4 minutes ago</div>
									</div>
								</li>

								<li class="media">
									<div class="mr-3">
										<a href="#" class="btn bg-transparent border-warning text-warning rounded-round border-2 btn-icon"><i class="icon-git-commit"></i></a>
									</div>
									
									<div class="media-body">
										Add full font overrides for popovers and tooltips
										<div class="text-muted font-size-sm">36 minutes ago</div>
									</div>
								</li>

								<li class="media">
									<div class="mr-3">
										<a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon"><i class="icon-git-branch"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
										<div class="text-muted font-size-sm">2 hours ago</div>
									</div>
								</li>

								<li class="media">
									<div class="mr-3">
										<a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-git-merge"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#">Eugene Kopyov</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
										<div class="text-muted font-size-sm">Dec 18, 18:36</div>
									</div>
								</li>

								<li class="media">
									<div class="mr-3">
										<a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
									</div>
									
									<div class="media-body">
										Have Carousel ignore keyboard events
										<div class="text-muted font-size-sm">Dec 12, 05:46</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="dropdown-content-footer bg-light">
							<a href="#" class="text-grey mr-auto">All updates</a>
							<div>
								<a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
								<a href="#" class="text-grey ml-2" data-popup="tooltip" title="Bug tracker"><i class="icon-bug2"></i></a>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
						<i class="icon-people"></i>
						<span class="d-md-none ml-2">Users</span>
					</a>
					
					<div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
						<div class="dropdown-content-header">
							<span class="font-weight-semibold">Users online</span>
							<a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
						</div>

						<div class="dropdown-content-body dropdown-scrollable">
							<ul class="media-list">
								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
										<span class="d-block text-muted font-size-sm">Lead web developer</span>
									</div>
									<div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
								</li>

								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<a href="#" class="media-title font-weight-semibold">Will Brason</a>
										<span class="d-block text-muted font-size-sm">Marketing manager</span>
									</div>
									<div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span></div>
								</li>

								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<a href="#" class="media-title font-weight-semibold">Hanna Walden</a>
										<span class="d-block text-muted font-size-sm">Project manager</span>
									</div>
									<div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
								</li>

								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<a href="#" class="media-title font-weight-semibold">Dori Laperriere</a>
										<span class="d-block text-muted font-size-sm">Business developer</span>
									</div>
									<div class="ml-3 align-self-center"><span class="badge badge-mark border-warning-300"></span></div>
								</li>

								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<a href="#" class="media-title font-weight-semibold">Vanessa Aurelius</a>
										<span class="d-block text-muted font-size-sm">UX expert</span>
									</div>
									<div class="ml-3 align-self-center"><span class="badge badge-mark border-grey-400"></span></div>
								</li>
							</ul>
						</div>

						<div class="dropdown-content-footer bg-light">
							<a href="#" class="text-grey mr-auto">All users</a>
							<a href="#" class="text-grey"><i class="icon-gear"></i></a>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
						<i class="icon-bubbles4"></i>
						<span class="d-md-none ml-2">Messages</span>
						<span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">2</span>
					</a>
					
					<div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
						<div class="dropdown-content-header">
							<span class="font-weight-semibold">Messages</span>
							<a href="#" class="text-default"><i class="icon-compose"></i></a>
						</div>

						<div class="dropdown-content-body dropdown-scrollable">
							<ul class="media-list">
								<li class="media">
									<div class="mr-3 position-relative">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>

									<div class="media-body">
										<div class="media-title">
											<a href="#">
												<span class="font-weight-semibold">James Alexander</span>
												<span class="text-muted float-right font-size-sm">04:58</span>
											</a>
										</div>

										<span class="text-muted">who knows, maybe that would be the best thing for me...</span>
									</div>
								</li>

								<li class="media">
									<div class="mr-3 position-relative">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>

									<div class="media-body">
										<div class="media-title">
											<a href="#">
												<span class="font-weight-semibold">Margo Baker</span>
												<span class="text-muted float-right font-size-sm">12:16</span>
											</a>
										</div>

										<span class="text-muted">That was something he was unable to do because...</span>
									</div>
								</li>

								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<div class="media-title">
											<a href="#">
												<span class="font-weight-semibold">Jeremy Victorino</span>
												<span class="text-muted float-right font-size-sm">22:48</span>
											</a>
										</div>

										<span class="text-muted">But that would be extremely strained and suspicious...</span>
									</div>
								</li>

								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<div class="media-title">
											<a href="#">
												<span class="font-weight-semibold">Beatrix Diaz</span>
												<span class="text-muted float-right font-size-sm">Tue</span>
											</a>
										</div>

										<span class="text-muted">What a strenuous career it is that I've chosen...</span>
									</div>
								</li>

								<li class="media">
									<div class="mr-3">
										<img src="../view/global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
									</div>
									<div class="media-body">
										<div class="media-title">
											<a href="#">
												<span class="font-weight-semibold">Richard Vango</span>
												<span class="text-muted float-right font-size-sm">Mon</span>
											</a>
										</div>
										
										<span class="text-muted">Other travelling salesmen live a life of luxury...</span>
									</div>
								</li>
							</ul>
						</div>

						<div class="dropdown-content-footer justify-content-center p-0">
							<a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<img src="../view/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
						<span><div id="inombre"></div></span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
						<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
						<a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3">
								<a href="#"><img src="../view/global_assets/images/placeholders/placeholder.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
							</div>

							<div class="media-body">
								<div class="media-title font-weight-semibold"><div id="inombre2"></div></div>
								<div class="font-size-xs opacity-50">
									<i class="icon-pin font-size-sm"></i> &nbsp;Santa Ana, CA
								</div>
							</div>

							<div class="ml-3 align-self-center">
								<a href="#" class="text-white"><i class="icon-cog3"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
						
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>REGISTRO</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><div id="proyecto" onclick="Proyectos()" class="nav-link">PROYECTO</div></li>
								<li class="nav-item"><div id="empleados" onclick="Empleados()" class="nav-link">EMPLEADOS</div></li>
								<li class="nav-item"><div id="incidencias" onclick="Incidencias()" class="nav-link">INCIDENCIAS</div></li>
								
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>REPORTES</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><div id="costoMes" onclick="CostoMes()" class="nav-link">COSTO POR MES</div></li>
								<li class="nav-item"><div id="costoProyectado" onclick="CostoProyectado()" class="nav-link">COSTO PROYECTADO</div></li>
								<li class="nav-item"><div id="EmpleadosReporte" onclick="EmpleadosReporte()" class="nav-link">EMPLEADOS</div></li>
								<li class="nav-item"><div id="IncidenciasReporte" onclick="IncidenciasReporte()" class="nav-link">INCIDENCIAS</div></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-copy"></i> <span>CONFIGURACIÓN</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><div id="area" onclick="Area()" class="nav-link">AREA</div></li>
								<li class="nav-item"><div id="funcion" onclick="Funcion()" class="nav-link">FUNCION</div></li>
								<li class="nav-item"><div id="perfil" onclick="Perfil()" class="nav-link">PERFIL</div></li>
								<li class="nav-item"><div id="usuarios" onclick="Usuarios()" class="nav-link">USUARIOS</div></li>
								<li class="nav-item"><div id="opcionSistema" onclick="OpcionSistema()" class="nav-link">OPCIÓN SISTEMA</div></li>
								<!--<li class="nav-item"><div id="parametrosGenerales" onclick="ParametrosGenerales()" class="nav-link">PARÁMETROS GENERALES</div></li>-->
							</ul>
						</li>
						<!-- /main -->

						<!-- Forms -->
						
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header page-header-light">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><span class="font-weight-semibold"><!--<div id="codProy"></div>--></span></h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
					
					<div style="font-size: 40px; margin-left: 0%;"><div id="codProy"></div></div>
							
				</div>

				<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
					<div class="d-flex">
						<!--<div class="breadcrumb">
							<a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
							<span class="breadcrumb-item active">Dashboard</span>
						</div>

						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>-->
					</div>

					<div class="header-elements d-none">
						<div class="breadcrumb justify-content-center">
							<!--<a href="#" class="breadcrumb-elements-item">
								<i class="icon-comment-discussion mr-2"></i>
								Support
							</a>

							<div class="breadcrumb-elements-item dropdown p-0">
								<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
									<i class="icon-gear mr-2"></i>
									Settings
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
									<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
									<a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
									<div class="dropdown-divider"></div>
									<a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
								</div>
							</div>
							<select id="periodo"><option value="201908">Agosto 2018</option></select>-->
						</div>
					</div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content">

				<div class="row">
					<div id="mgif">
						<center><img src="../view/gif.gif"></center>
					</div>
					
					<div id="contenidos" style="margin-left: 5%; align-content: center; width:100%; justify-items: center;">
						<div id="campoMensaje" style="align-content: center; width:100%; justify-items: center;">
							<center>
							
							<select id="periodo" style="margin-top: 50px"><option value="201909">Setiembre 2019</option></select>
							<br><br>
							<button onclick="Cargar()" style="font-size: 20px; margin-top: 50px" type="button" class="btn btn-danger" data-toggle="button">CARGAR</button>
							<br><br>
							<div style="font-size: 30px; margin-top: 50px"><div id="contenidop"></div></div>
							</center>
						</div>
						
						<div id="campoEmpleado" style="align-content: center; width:100%; justify-items: center;">
							<div id="botones" style="margin-left:60%; margin-bottom: 2%; width: 100%;">
								<button id="ibotonAgregar" onclick="AgregarEmpl()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_empleado">AGREGAR USUARIO</button>
								<button id="ibotonGuardar" onclick="GuardarEmpl()" type="button" class="btn btn-danger" data-toggle="button">GUARDAR</button>
							</div>
							<div id="dataInicial"></div>
						</div>
						
						<div id="campoIncidencias">
							<div id="cabeceraIncidencias">
								<button id="ibotonCierre" onclick="CierrePeriodo()" type="button" class="btn btn-danger" data-toggle="button">CIERRE PERIODO</button>
								<button id="ibotonAutollenado" onclick="Autollenado()" type="button" class="btn btn-danger" data-toggle="button">AUTOLLENADO</button>
								<button id="ibotonGuardarIncidencia" onclick="GuardarIncidencia()" type="button" class="btn btn-danger" data-toggle="button">GUARDAR</button>
							</div><br>
							<div id="cuerpoIncidencias"></div>
						</div>
						<div id="campoArea">
							<div id="cabeceraArea">
								<button id="ibotonAgregarArea" onclick="AgregarArea()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_area">NUEVO</button>
							</div><br>
							<div id="cuerpoArea"></div>
							<div id="cuerpoArea2" style="width:100%; justify-content: center; align-items: center;">
								<div style="width:100%;">
									<div style="justify-content: center; align-items: center;">
										<table>
											<tr>
												<td>
													<label>CODIGO: </label>
												</td>
												<td>
													<input id="acodigo2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>DESCRIPCION: </label>
												</td>
												<td>
													<input id="anombre2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>ESTADO: </label>
												</td>
												<td>
													<select id="aestado2">
														<option value="1">ACTIVO</option>
														<option value="0">INACTIVO</option>
													</select>
												</td>
											</tr>
										</table>
										<br><br>
										<button id="ibotonEditarArea" onclick="EditArea2()" type="button" class="btn btn-danger">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
						<div id="campoFuncion">
							<div id="cabeceraFuncion">
								<button id="ibotonAgregarFuncion" onclick="AgregarFuncion()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_funcion">NUEVO</button>
							</div><br>
							<div id="cuerpoFuncion"></div>
							<div id="cuerpoFuncion2" style="width:100%; justify-content: center; align-items: center;">
								<div style="width:100%;">
									<div style="justify-content: center; align-items: center;">
										<table>
											<tr>
												<td>
													<label>CODIGO: </label>
												</td>
												<td>
													<input id="fcodigo2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>DESCRIPCION: </label>
												</td>
												<td>
													<input id="fnombre2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>ESTADO: </label>
												</td>
												<td>
													<select id="festado2">
														<option value="1">ACTIVO</option>
														<option value="0">INACTIVO</option>
													</select>
												</td>
											</tr>
										</table>
										<br><br>
										<button id="ibotonEditarFuncion" onclick="EditFuncion2()" type="button" class="btn btn-danger">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
						<div id="campoPerfil">
							<!--<div id="cabeceraPerfil"></div>
							<div id="cuerpoPerfil"></div>-->
							<div id="cabeceraPerfil">
								<button id="ibotonAgregarPerfil" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_perfil">NUEVO</button>
							</div><br>
							<div id="cuerpoPerfil"></div>
							<div id="cuerpoPerfil2" style="width:100%; justify-content: center; align-items: center;">
								<div style="width:100%;">
									<div style="justify-content: center; align-items: center;">
										<table>
											<tr>
												<td>
													<label>CODIGO: </label>
												</td>
												<td>
													<input id="pcodigo2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>DESCRIPCION: </label>
												</td>
												<td>
													<input id="pnombre2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>ESTADO: </label>
												</td>
												<td>
													<select id="pestado2">
														<option value="1">ACTIVO</option>
														<option value="0">INACTIVO</option>
													</select>
												</td>
											</tr>
											<tr>
												<td>
													<label>ACCIONES: </label>
												</td>
												<td>
													<div id="select_acciones"></div>
												</td>
											</tr>
										</table>
										<br><br>
										<button id="ibotonEditarPerfil" onclick="EditPerfil2()" type="button" class="btn btn-danger">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
						<div id="campoUsuarios">
							<div id="cabeceraUsuarios"></div>
							<div id="cuerpoUsuarios"></div>
						</div>
						<div id="campoOpcion">
							<div id="cabeceraOpciones">
								<button id="ibotonAgregarOpciones" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_opciones">NUEVO</button>
							</div><br>
							<div id="cuerpoOpciones"></div>
							<div id="cuerpoOpciones2" style="width:100%; justify-content: center; align-items: center;">
								<div style="width:100%;">
									<div style="justify-content: center; align-items: center;">
										<table>
											<tr>
												<td>
													<label>CODIGO: </label>
												</td>
												<td>
													<input id="ocodigo2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>DESCRIPCION: </label>
												</td>
												<td>
													<input id="onombre2" type="text" style="width:200px;">
												</td>
											</tr>
											<tr>
												<td>
													<label>ESTADO: </label>
												</td>
												<td>
													<select id="oestado2">
														<option value="1">ACTIVO</option>
														<option value="0">INACTIVO</option>
													</select>
												</td>
											</tr>
											
										</table>
										<br><br>
										<button id="ibotonEditarOpciones" onclick="EditOpciones2()" type="button" class="btn btn-danger">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
						<div id="campoParametros">
							<div id="cabeceraParametros"></div>
							<div id="cuerpoParametros"></div>
						</div>

					</div>
				</div>
			</div>
			<!-- /content area -->

			<!-- Basic modal -->
			<div id="modal_empleado" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">BUSCAR EMPLEADO</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<h6 class="font-weight-semibold">DATOS</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div style="display:inline-block; margin-right:5px;"><input id="bcodigo" type="text" style="width:200px;" placeholder="CODIGO"></div>
										<div style="display:inline-block; margin-right:5px;"><input id="bdocumento" type="text" style="width:200px;" placeholder="DOCUMENTO"></div>
										<div style="display:inline-block; margin-right:5px;"><input id="bnombre" type="text" style="width:200px;" placeholder="NOMBRE"></div>
										<div style="display:inline-block; margin-right:5px;"><input id="bapellidos" type="text" style="width:200px;" placeholder="APELLIDOS"></div>
										<br>
										<div style="display:inline-block; margin-right:0px;"><button id="bbuscar" type="button" class="btn btn-danger" data-toggle="button">BUSCAR</button></div>
										
									</div>
								</div>

								<hr>

								<h6 class="font-weight-semibold">RESULTADO</h6>
								<p id="rbusqueda"></p>
								
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="button" class="btn bg-primary" data-dismiss="modal">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<div id="modal_area" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">NUEVA AREA</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body" style="justify-content: center; align-items: center;">
								<h6 class="font-weight-semibold">DATOS</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div style="display:inline-block; margin-right:5px;"><input id="acodigo" type="text" style="width:200px;" placeholder="CODIGO"></div>
										<div style="display:inline-block; margin-right:5px;"><input id="anombre" type="text" style="width:200px;" placeholder="DESCRIPCION"></div>
										<select id="estadoa">
											<option value="1">ACTIVO</option>
											<option value="0">INACTIVO</option>
										</select>
										
									</div>
								</div>
								<br>
								<h6 class="font-weight-semibold">RESTAURAR</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div id="areaEliminada"></div>
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="button" onclick="GuardaArea()" class="btn bg-primary" data-dismiss="modal">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<div id="modal_funcion" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">NUEVA FUNCION</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<h6 class="font-weight-semibold">DATOS</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div style="display:inline-block; margin-right:5px;"><input id="fcodigo" type="text" style="width:200px;" placeholder="CODIGO"></div>
										<div style="display:inline-block; margin-right:5px;"><input id="fnombre" type="text" style="width:200px;" placeholder="DESCRIPCION"></div>
										<select id="estadof">
											<option value="1">ACTIVO</option>
											<option value="0">INACTIVO</option>
										</select>
										
									</div>
								</div>
								<br>
								<h6 class="font-weight-semibold">RESTAURAR</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div id="funcionEliminada"></div>
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="button" onclick="GuardaFuncion()" class="btn bg-primary" data-dismiss="modal">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<div id="modal_perfil" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">NUEVO PERFIL</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<h6 class="font-weight-semibold">DATOS</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div style="display:inline-block; margin-right:5px;"><input id="pcodigo" type="text" style="width:200px;" placeholder="CODIGO"></div>
										<div style="display:inline-block; margin-right:5px;"><input id="pnombre" type="text" style="width:200px;" placeholder="DESCRIPCION"></div>
										<select id="estadop">
											<option value="1">ACTIVO</option>
											<option value="0">INACTIVO</option>
										</select>
										
									</div>
								</div>
								<br>
								<h6 class="font-weight-semibold">RESTAURAR</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div id="perfilEliminada"></div>
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="button" onclick="GuardaPerfil()" class="btn bg-primary" data-dismiss="modal">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				<div id="modal_opciones" class="modal fade" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">NUEVA OPCION</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body">
								<h6 class="font-weight-semibold">DATOS</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div style="display:inline-block; margin-right:5px;"><input id="ocodigo" type="text" style="width:200px;" placeholder="CODIGO"></div>
										<div style="display:inline-block; margin-right:5px;"><input id="onombre" type="text" style="width:200px;" placeholder="DESCRIPCION"></div>
										<select id="estadop">
											<option value="1">ACTIVO</option>
											<option value="0">INACTIVO</option>
										</select>
										
									</div>
								</div>
								<br>
								<h6 class="font-weight-semibold">RESTAURAR</h6>
								<div class="form-group row">
									<div style="justify-content: center; align-items: center;">
										<div id="opcionesEliminada"></div>
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="button" onclick="GuardaOpciones()" class="btn bg-primary" data-dismiss="modal">Save changes</button>
							</div>
						</div>
					</div>
				</div>
				
				<!-- /basic modal -->
			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</span>

					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
						<li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
						<li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
					</ul>
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
